<div class="container">
  <a href='/'>
    <img src="<%= asset_path 'icons/NearMeDC.png' %>" width="150" class="logo">
  </a>
  <h1>Latest <span class="topic"><%= @subscription.publisher.title %></span>
    for <span class="phone"><%= @subscription.nominative %></span></h1>

  <div class="subscription-box">
    <div class="row">
      <div class="col-sm-1">
        <img src="<%= asset_path "publishers/icons/#{@subscription.publisher.icon}" %>" class="icon">
      </div>
      <div class="col-sm-11">
        <h5>YOUR SUBSCRIPTION FOR THE LAST WEEK:</h5>
        <% single = @events.count == 1 %>
        <h3>There <%=  single ? 'was' : 'were' %> <span class="orange"><%= @events.count %> notification<%= single ? '' : 's' %></span> for <span class="green"><%= @subscription.publisher.title %></span> in the area you selected.</h3>
         <a href = "/unsubscribe/<%= @subscription.id %>">One-click Unsubscribe</a>
      </div>
    </div>
  </div>

  <%= erb :_digest_events %>
</div>
