<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9">
        <a href="http://www.crgov.com/"><img id="cr-logo" src="<%= asset_path 'footer/CastleRock.png' %>"></a>
        <a href="http://www.douglas.co.us/"><img id="dc-logo" src="<%= asset_path 'footer/DouglasCounty.png' %>"></a>
        <a href="http://highlandsranch.org/"><img id="hrmd-logo" src="<%= asset_path 'footer/HighlandsRanch.png' %>"></a>
        <a href="http://www.cityoflonetree.com/"><img id="clt-logo" src="<%= asset_path 'footer/loneTreeLogo.png' %>"></a>
        <a href="http://www.parkeronline.org/"><img id="par-logo" src="<%= asset_path 'footer/Parker.png' %>"></a>
      </div>
      <div class="col-xs-0 col-md-1 text-right hidden-xs hidden-sm">
        <a href="https://github.com/Douglas-County-CO"><img src="<%= asset_path 'footer/github-icon.png' %>"></a>
      </div>
      <div class="col-xs-12 col-md-0 visible-xs visible-sm hidden-md">
        <a href="https://github.com/Douglas-County-CO"><img src="<%= asset_path 'footer/github-icon.png' %>"></a>
      </div>
    </div>
  </div>
</footer>

